In [1]:
import pandas as pd
import numpy as np
import os
import string
import matplotlib.pyplot as plt
import seaborn as sns
os.getcwd()
os.chdir('C:/Users/peiyaozhao/Documents/GitHub/tracking-msa-ghg/bin/jupyter')

In [2]:
import pandas as pd

def extract_year_from_filename(file_path):
    # Extract the year from the file name
    # Assuming the file name has the format ACSDP5Y<Year>.DP05-...
    year = file_path.split('ACSDP5Y')[1][:4]
    return int(year)

def process_population_file(file_path):
    # Read the DataFrame from the file
    dataframe = pd.read_excel(file_path, sheet_name='Data')

    # Use iloc to extract the specified row
    row = dataframe.iloc[2:3]
    
    # Extract relevant columns
    population = row[['Unnamed: 0', 'Connecticut', 'Bridgeport-Stamford-Norwalk, CT Metro Area', 'Hartford-East Hartford-Middletown, CT Metro Area','New Haven-Milford, CT Metro Area']]
    
    # Reset index and set Year
    population.reset_index(drop=True, inplace=True)
    
    # Extract year from the file name and set it as 'Year'
    population.rename(columns={'Unnamed: 0': 'Year'}, inplace=True)
    population.iloc[0, 0] = extract_year_from_filename(file_path)
    
    return population

def process_population_files(file_paths):
    # Initialize an empty DataFrame to store the results
    combined_df = pd.DataFrame()

    # Process each file and concatenate the results
    for file_path in file_paths:
        pop = process_population_file(file_path)
        combined_df = pd.concat([combined_df, pop], ignore_index=True)

    return combined_df

# Example usage
file_paths = [
    'C:/Users/peiyaozhao/Documents/GitHub/tracking-msa-ghg/data/raw/ACSDP5Y2021.DP05-2023-09-11T201858.xlsx',
    'C:/Users/peiyaozhao/Documents/GitHub/tracking-msa-ghg/data/raw/ACSDP5Y2020.DP05-2023-09-11T202108.xlsx',
   
    # Add more file paths as needed
]

result_population = process_population_files(file_paths)
result_population

C:\Users\peiyaozhao\AppData\Local\Temp\ipykernel_8528\3330825543.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.rename(columns={'Unnamed: 0': 'Year'}, inplace=True)
C:\Users\peiyaozhao\AppData\Local\Temp\ipykernel_8528\3330825543.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.iloc[0, 0] = extract_year_from_filename(file_path)
C:\Users\peiyaozhao\AppData\Local\Temp\ipykernel_8528\3330825543.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.rename(columns={'Unnamed: 0': 'Year'}, inplace=True)
C:\Users\peiyaozhao\AppData\Local\Temp\ipykernel_8528\3330825543.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.iloc[0, 0] = extract_year_from_filename(file_path)

,Year,Connecticut,"Bridgeport-Stamford-Norwalk, CT Metro Area","Hartford-East Hartford-Middletown, CT Metro Area","New Haven-Milford, CT Metro Area"
0,2021,"3,605,330","956,446","1,213,324","864,751"
1,2020,"3,570,549","944,306","1,205,842","855,733"

In [3]:
def extract_year_from_filename(file_path):
    # Extract the year from the file name
    # Assuming the file name has the format ACSDP5Y<Year>.DP05-...
    year = file_path.split('ACSDP5Y')[1][:4]
    return int(year)

def process_population_file(file_path):
    # Read the DataFrame from the file
    dataframe = pd.read_excel(file_path, sheet_name='Data')

    # Use iloc to extract the specified row
    row = dataframe.iloc[2:3]
    
    # Extract relevant columns
    population = row[['Unnamed: 0', 'Connecticut', 'Bridgeport-Stamford-Norwalk, CT Metro Area', 'Hartford-West Hartford-East Hartford, CT Metro Area','New Haven-Milford, CT Metro Area']]
    
    # Reset index and set Year
    population.reset_index(drop=True, inplace=True)
    
    # Extract year from the file name and set it as 'Year'
    population.rename(columns={'Unnamed: 0': 'Year'}, inplace=True)
    population.iloc[0, 0] = extract_year_from_filename(file_path)
    
    return population

def process_population_files(file_paths):
    # Initialize an empty DataFrame to store the results
    combined_df = pd.DataFrame()

    # Process each file and concatenate the results
    for file_path in file_paths:
        pop = process_population_file(file_path)
        combined_df = pd.concat([combined_df, pop], ignore_index=True)

    return combined_df

# Example usage
file_paths_1 = [
    'C:/Users/peiyaozhao/Documents/GitHub/tracking-msa-ghg/data/raw/ACSDP5Y2017.DP05-2023-12-04T212217.xlsx',
    'C:/Users/peiyaozhao/Documents/GitHub/tracking-msa-ghg/data/raw/ACSDP5Y2015.DP05-2023-12-04T212436.xlsx',  
    # Add more file paths as needed
]

result_population_1 = process_population_files(file_paths_1)
result_population_1

result_population_1 = result_population_1.rename(columns={'Hartford-West Hartford-East Hartford, CT Metro Area': 'Hartford-East Hartford-Middletown, CT Metro Area'})

C:\Users\peiyaozhao\AppData\Local\Temp\ipykernel_8528\2401997845.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.rename(columns={'Unnamed: 0': 'Year'}, inplace=True)
C:\Users\peiyaozhao\AppData\Local\Temp\ipykernel_8528\2401997845.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.iloc[0, 0] = extract_year_from_filename(file_path)
C:\Users\peiyaozhao\AppData\Local\Temp\ipykernel_8528\2401997845.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.rename(columns={'Unnamed: 0': 'Year'}, inplace=True)
C:\Users\peiyaozhao\AppData\Local\Temp\ipykernel_8528\2401997845.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.iloc[0, 0] = extract_year_from_filename(file_path)

In [4]:
df_combined = pd.concat([result_population, result_population_1], ignore_index=True)
df_combined
# Convert specific columns to numeric values

,Year,Connecticut,"Bridgeport-Stamford-Norwalk, CT Metro Area","Hartford-East Hartford-Middletown, CT Metro Area","New Haven-Milford, CT Metro Area"
0,2021,"3,605,330","956,446","1,213,324","864,751"
1,2020,"3,570,549","944,306","1,205,842","855,733"
2,2017,"3,594,478","947,328","1,213,123","862,127"
3,2015,"3,593,222","939,983","1,214,056","862,224"

In [5]:
df_combined.to_csv('C:/Users/peiyaozhao/Documents/GitHub/tracking-msa-ghg/data/tidy/population.csv')

In [6]:
df_combined['Bridgeport-Stamford-Norwalk, CT Metro Area'] = pd.to_numeric(df_combined['Bridgeport-Stamford-Norwalk, CT Metro Area'].str.replace(',', ''))
df_combined['Hartford-East Hartford-Middletown, CT Metro Area'] = pd.to_numeric(df_combined['Hartford-East Hartford-Middletown, CT Metro Area'].str.replace(',', ''))
df_combined['New Haven-Milford, CT Metro Area'] = pd.to_numeric(df_combined['New Haven-Milford, CT Metro Area'].str.replace(',', ''))
df_combined['Connecticut'] = pd.to_numeric(df_combined['Connecticut'].str.replace(',', ''))

df_combined['Bridgeport-Stamford-Norwalk, CT Metro Area'] = pd.to_numeric(df_combined['Bridgeport-Stamford-Norwalk, CT Metro Area'])
df_combined['Hartford-East Hartford-Middletown, CT Metro Area'] = pd.to_numeric(df_combined['Hartford-East Hartford-Middletown, CT Metro Area'])
df_combined['New Haven-Milford, CT Metro Area'] = pd.to_numeric(df_combined['New Haven-Milford, CT Metro Area'])
df_combined['Connecticut'] = pd.to_numeric(df_combined['Connecticut'])

In [7]:
df_combined

,Year,Connecticut,"Bridgeport-Stamford-Norwalk, CT Metro Area","Hartford-East Hartford-Middletown, CT Metro Area","New Haven-Milford, CT Metro Area"
0,2021,3605330,956446,1213324,864751
1,2020,3570549,944306,1205842,855733
2,2017,3594478,947328,1213123,862127
3,2015,3593222,939983,1214056,862224

In [8]:
#add the population of the five towns to the corresponding MSA
town_population_2021 = pd.read_excel('C:/Users/peiyaozhao/NARS Dropbox/Projects/CT-GHG-Inventories/Data/Raw/ACSDP5Y2021.DP05-2024-01-08T175101.xlsx', sheet_name ='Data')
town_population_2020 = pd.read_excel('C:/Users/peiyaozhao/NARS Dropbox/Projects/CT-GHG-Inventories/Data/Raw/ACSDP5Y2020.DP05-2024-01-08T175144.xlsx', sheet_name ='Data')
town_population_2017 = pd.read_excel('C:/Users/peiyaozhao/NARS Dropbox/Projects/CT-GHG-Inventories/Data/Raw/ACSDP5Y2017.DP05-2024-01-08T175219.xlsx', sheet_name ='Data')
town_population_2015 = pd.read_excel('C:/Users/peiyaozhao/NARS Dropbox/Projects/CT-GHG-Inventories/Data/Raw/ACSDP5Y2015.DP05-2024-01-08T182624.xlsx', sheet_name ='Data')

In [9]:
town_population_2021
town_population_2021
selected_2021 = town_population_2021.loc[2, ['Bridgewater town, Litchfield County, Connecticut', 'New Milford town, Litchfield County, Connecticut', 'Colchester town, New London County, Connecticut',
                                                             'Lyme town, New London County, Connecticut','Old Lyme town, New London County, Connecticut']]
selected_2021

Bridgewater town, Litchfield County, Connecticut     1,824
New Milford town, Litchfield County, Connecticut    28,074
Colchester town, New London County, Connecticut     15,552
Lyme town, New London County, Connecticut            2,430
Old Lyme town, New London County, Connecticut        7,582
Name: 2, dtype: object

In [10]:
selected_2020 = town_population_2020.loc[2, ['Bridgewater town, Litchfield County, Connecticut', 'New Milford town, Litchfield County, Connecticut', 'Colchester town, New London County, Connecticut',
                                                             'Lyme town, New London County, Connecticut','Old Lyme town, New London County, Connecticut']]
selected_2020

Bridgewater town, Litchfield County, Connecticut     1,782
New Milford town, Litchfield County, Connecticut    26,893
Colchester town, New London County, Connecticut     15,885
Lyme town, New London County, Connecticut            2,425
Old Lyme town, New London County, Connecticut        7,371
Name: 2, dtype: object

In [11]:
selected_2017 = town_population_2017.loc[2, ['Bridgewater town, Litchfield County, Connecticut', 'New Milford town, Litchfield County, Connecticut', 'Colchester town, New London County, Connecticut',
                                                             'Lyme town, New London County, Connecticut','Old Lyme town, New London County, Connecticut']]
selected_2017

Bridgewater town, Litchfield County, Connecticut     1,681
New Milford town, Litchfield County, Connecticut    27,380
Colchester town, New London County, Connecticut     16,015
Lyme town, New London County, Connecticut            2,423
Old Lyme town, New London County, Connecticut        7,494
Name: 2, dtype: object

In [12]:
selected_2015 = town_population_2015.loc[2, ['Bridgewater town, Litchfield County, Connecticut', 'New Milford town, Litchfield County, Connecticut', 'Colchester town, New London County, Connecticut',
                                                             'Lyme town, New London County, Connecticut','Old Lyme town, New London County, Connecticut']]
selected_2015

Bridgewater town, Litchfield County, Connecticut     1,679
New Milford town, Litchfield County, Connecticut    27,670
Colchester town, New London County, Connecticut     16,142
Lyme town, New London County, Connecticut            2,454
Old Lyme town, New London County, Connecticut        7,565
Name: 2, dtype: object

In [13]:
df = pd.concat([selected_2021, selected_2020, selected_2017, selected_2015], axis=1)

In [14]:
df = df.transpose()

In [15]:
new_index = ['2021', '2020', '2017', '2015']
df = df.set_index(pd.Index(new_index))

In [16]:
df

,"Bridgewater town, Litchfield County, Connecticut","New Milford town, Litchfield County, Connecticut","Colchester town, New London County, Connecticut","Lyme town, New London County, Connecticut","Old Lyme town, New London County, Connecticut"
2021,"1,824","28,074","15,552","2,430","7,582"
2020,"1,782","26,893","15,885","2,425","7,371"
2017,"1,681","27,380","16,015","2,423","7,494"
2015,"1,679","27,670","16,142","2,454","7,565"

In [17]:
df = df.apply(lambda x: pd.to_numeric(x.str.replace(',', ''), errors='coerce'))
df

,"Bridgewater town, Litchfield County, Connecticut","New Milford town, Litchfield County, Connecticut","Colchester town, New London County, Connecticut","Lyme town, New London County, Connecticut","Old Lyme town, New London County, Connecticut"
2021,1824,28074,15552,2430,7582
2020,1782,26893,15885,2425,7371
2017,1681,27380,16015,2423,7494
2015,1679,27670,16142,2454,7565

In [18]:
df['Litchfield']=df['Bridgewater town, Litchfield County, Connecticut']+df['New Milford town, Litchfield County, Connecticut']
df['New London']=df['Colchester town, New London County, Connecticut']+df['Lyme town, New London County, Connecticut']+df['Old Lyme town, New London County, Connecticut']

In [19]:
df

,"Bridgewater town, Litchfield County, Connecticut","New Milford town, Litchfield County, Connecticut","Colchester town, New London County, Connecticut","Lyme town, New London County, Connecticut","Old Lyme town, New London County, Connecticut",Litchfield,New London
2021,1824,28074,15552,2430,7582,29898,25564
2020,1782,26893,15885,2425,7371,28675,25681
2017,1681,27380,16015,2423,7494,29061,25932
2015,1679,27670,16142,2454,7565,29349,26161

In [20]:
# Move the index name to an individual column
df.reset_index(inplace=True)

# Rename the columns
df.columns = ['Year'] + list(df.columns[1:])

# Sort the DataFrame by the 'Year' column without flipping rows
df.sort_values(by='Year', inplace=True, ascending=False)  # Set ascending to True if you want to sort in ascending order

# Reset the index
df.reset_index(drop=True, inplace=True)
df

,Year,"Bridgewater town, Litchfield County, Connecticut","New Milford town, Litchfield County, Connecticut","Colchester town, New London County, Connecticut","Lyme town, New London County, Connecticut","Old Lyme town, New London County, Connecticut",Litchfield,New London
0,2021,1824,28074,15552,2430,7582,29898,25564
1,2020,1782,26893,15885,2425,7371,28675,25681
2,2017,1681,27380,16015,2423,7494,29061,25932
3,2015,1679,27670,16142,2454,7565,29349,26161

In [21]:
df_combined

,Year,Connecticut,"Bridgeport-Stamford-Norwalk, CT Metro Area","Hartford-East Hartford-Middletown, CT Metro Area","New Haven-Milford, CT Metro Area"
0,2021,3605330,956446,1213324,864751
1,2020,3570549,944306,1205842,855733
2,2017,3594478,947328,1213123,862127
3,2015,3593222,939983,1214056,862224

In [22]:
#including the number of other five towns
df_combined['Bridgeport-Stamford-Norwalk, CT Metro Area'] = df_combined['Bridgeport-Stamford-Norwalk, CT Metro Area']+df['Litchfield']
df_combined['Hartford-East Hartford-Middletown, CT Metro Area'] = df_combined['Hartford-East Hartford-Middletown, CT Metro Area']+df['New London']

In [23]:
df_combined_five = df_combined

In [24]:
df_combined_five.to_csv('C:/Users/peiyaozhao/Documents/GitHub/tracking-msa-ghg/data/tidy/population_five_towns.csv')

In [25]:
df_combined_five

,Year,Connecticut,"Bridgeport-Stamford-Norwalk, CT Metro Area","Hartford-East Hartford-Middletown, CT Metro Area","New Haven-Milford, CT Metro Area"
0,2021,3605330,986344,1238888,864751
1,2020,3570549,972981,1231523,855733
2,2017,3594478,976389,1239055,862127
3,2015,3593222,969332,1240217,862224