In [19]:
import pandas as pd
import numpy as np
import os
import string
import matplotlib.pyplot as plt
import seaborn as sns

<span style="font-family: verdana; color: green; font-size: 20px;font-weight: bold;">MSA Population from 2020 to 2021</span>

In [20]:
def extract_year_from_filename(file_path):
    # Extract the year from the file name
    # Assuming the file name has the format ACSDP5Y<Year>.DP05-...
    year = file_path.split('ACSDP5Y')[1][:4]
    return int(year)

def process_population_file(file_path):
    # Read the DataFrame from the file
    dataframe = pd.read_excel(file_path, sheet_name='Data')

    # Use iloc to extract the specified row
    row = dataframe.iloc[2:3]
    
    # Extract relevant columns
    population = row[['Unnamed: 0', 'Connecticut', 'Bridgeport-Stamford-Norwalk, CT Metro Area', 'Hartford-East Hartford-Middletown, CT Metro Area','New Haven-Milford, CT Metro Area']]
    
    # Reset index and set Year
    population.reset_index(drop=True, inplace=True)
    
    # Extract year from the file name and set it as 'Year'
    population.rename(columns={'Unnamed: 0': 'Year'}, inplace=True)
    population.iloc[0, 0] = extract_year_from_filename(file_path)
    
    return population

def process_population_files(file_paths):
    # Initialize an empty DataFrame to store the results
    combined_df = pd.DataFrame()

    # Process each file and concatenate the results
    for file_path in file_paths:
        pop = process_population_file(file_path)
        combined_df = pd.concat([combined_df, pop], ignore_index=True)

    return combined_df

# Example usage
file_paths = [
    '../../../data/raw/ACSDP5Y2021.DP05-2023-09-11T201858.xlsx',
    '../../../data/raw/ACSDP5Y2020.DP05-2023-09-11T202108.xlsx',
   
    # Add more file paths as needed
]

result_population = process_population_files(file_paths)
result_population

C:\Users\peiyaozhao\AppData\Local\Temp\ipykernel_24084\3960600825.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.rename(columns={'Unnamed: 0': 'Year'}, inplace=True)
C:\Users\peiyaozhao\AppData\Local\Temp\ipykernel_24084\3960600825.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.iloc[0, 0] = extract_year_from_filename(file_path)
C:\Users\peiyaozhao\AppData\Local\Temp\ipykernel_24084\3960600825.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.rename(columns={'Unnamed: 0': 'Year'}, inplace=True)
C:\Users\peiyaozhao\AppData\Local\Temp\ipykernel_24084\3960600825.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.iloc[0, 0] = extract_year_from_filename(file_path)

,Year,Connecticut,"Bridgeport-Stamford-Norwalk, CT Metro Area","Hartford-East Hartford-Middletown, CT Metro Area","New Haven-Milford, CT Metro Area"
0,2021,"3,605,330","956,446","1,213,324","864,751"
1,2020,"3,570,549","944,306","1,205,842","855,733"

<span style="font-family: verdana; color: green; font-size: 20px;font-weight: bold;">MSA population at 2015 and 2017</span>

In [21]:
def extract_year_from_filename(file_path):
    # Extract the year from the file name
    # Assuming the file name has the format ACSDP5Y<Year>.DP05-...
    year = file_path.split('ACSDP5Y')[1][:4]
    return int(year)

def process_population_file(file_path):
    # Read the DataFrame from the file
    dataframe = pd.read_excel(file_path, sheet_name='Data')

    # Use iloc to extract the specified row
    row = dataframe.iloc[2:3]
    
    # Extract relevant columns
    population = row[['Unnamed: 0', 'Connecticut', 'Bridgeport-Stamford-Norwalk, CT Metro Area', 'Hartford-West Hartford-East Hartford, CT Metro Area','New Haven-Milford, CT Metro Area']]
    
    # Reset index and set Year
    population.reset_index(drop=True, inplace=True)
    
    # Extract year from the file name and set it as 'Year'
    population.rename(columns={'Unnamed: 0': 'Year'}, inplace=True)
    population.iloc[0, 0] = extract_year_from_filename(file_path)
    
    return population

def process_population_files(file_paths):
    # Initialize an empty DataFrame to store the results
    combined_df = pd.DataFrame()

    # Process each file and concatenate the results
    for file_path in file_paths:
        pop = process_population_file(file_path)
        combined_df = pd.concat([combined_df, pop], ignore_index=True)

    return combined_df

# Example usage
file_paths_1 = [
    '../../../data/raw/ACSDP5Y2017.DP05-2023-12-04T212217.xlsx',
    '../../../data/raw/ACSDP5Y2015.DP05-2023-12-04T212436.xlsx',  
    # Add more file paths as needed
]

result_population_1 = process_population_files(file_paths_1)
result_population_1 = result_population_1.rename(columns={'Hartford-West Hartford-East Hartford, CT Metro Area': 'Hartford-East Hartford-Middletown, CT Metro Area'})
result_population_1

C:\Users\peiyaozhao\AppData\Local\Temp\ipykernel_24084\975227000.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.rename(columns={'Unnamed: 0': 'Year'}, inplace=True)
C:\Users\peiyaozhao\AppData\Local\Temp\ipykernel_24084\975227000.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.iloc[0, 0] = extract_year_from_filename(file_path)
C:\Users\peiyaozhao\AppData\Local\Temp\ipykernel_24084\975227000.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.rename(columns={'Unnamed: 0': 'Year'}, inplace=True)
C:\Users\peiyaozhao\AppData\Local\Temp\ipykernel_24084\975227000.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.iloc[0, 0] = extract_year_from_filename(file_path)

,Year,Connecticut,"Bridgeport-Stamford-Norwalk, CT Metro Area","Hartford-East Hartford-Middletown, CT Metro Area","New Haven-Milford, CT Metro Area"
0,2017,"3,594,478","947,328","1,213,123","862,127"
1,2015,"3,593,222","939,983","1,214,056","862,224"

In [22]:
df_combined = pd.concat([result_population, result_population_1], ignore_index=True)
df_combined

,Year,Connecticut,"Bridgeport-Stamford-Norwalk, CT Metro Area","Hartford-East Hartford-Middletown, CT Metro Area","New Haven-Milford, CT Metro Area"
0,2021,"3,605,330","956,446","1,213,324","864,751"
1,2020,"3,570,549","944,306","1,205,842","855,733"
2,2017,"3,594,478","947,328","1,213,123","862,127"
3,2015,"3,593,222","939,983","1,214,056","862,224"

In [23]:
df_combined.to_csv('../../../data/tidy/population-MSA.csv')

<span style="font-family: verdana; color: green; font-size: 20px;font-weight: bold;">Adding the town population to the corresponding MSA</span>

In [34]:
df_combined['Bridgeport-Stamford-Norwalk, CT Metro Area'] = pd.to_numeric(df_combined['Bridgeport-Stamford-Norwalk, CT Metro Area'].str.replace(',', ''))
df_combined['Hartford-East Hartford-Middletown, CT Metro Area'] = pd.to_numeric(df_combined['Hartford-East Hartford-Middletown, CT Metro Area'].str.replace(',', ''))
df_combined['New Haven-Milford, CT Metro Area'] = pd.to_numeric(df_combined['New Haven-Milford, CT Metro Area'].str.replace(',', ''))
df_combined['Connecticut'] = pd.to_numeric(df_combined['Connecticut'].str.replace(',', ''))

df_combined['Bridgeport-Stamford-Norwalk, CT Metro Area'] = pd.to_numeric(df_combined['Bridgeport-Stamford-Norwalk, CT Metro Area'])
df_combined['Hartford-East Hartford-Middletown, CT Metro Area'] = pd.to_numeric(df_combined['Hartford-East Hartford-Middletown, CT Metro Area'])
df_combined['New Haven-Milford, CT Metro Area'] = pd.to_numeric(df_combined['New Haven-Milford, CT Metro Area'])
df_combined['Connecticut'] = pd.to_numeric(df_combined['Connecticut'])

In [35]:
#add the population of the five towns to the corresponding MSA
town_population_2021 = pd.read_excel('../../../data/raw/ACSDP5Y2021.DP05-2024-01-08T175101.xlsx', sheet_name ='Data')
town_population_2020 = pd.read_excel('../../../data/raw/ACSDP5Y2020.DP05-2024-01-08T175144.xlsx', sheet_name ='Data')
town_population_2017 = pd.read_excel('../../../data/raw/ACSDP5Y2017.DP05-2024-01-08T175219.xlsx', sheet_name ='Data')
town_population_2015 = pd.read_excel('../../../data/raw/ACSDP5Y2015.DP05-2024-01-08T182624.xlsx', sheet_name ='Data')

In [36]:
town_population_2021
town_population_2021
selected_2021 = town_population_2021.loc[2, ['Bridgewater town, Litchfield County, Connecticut', 'New Milford town, Litchfield County, Connecticut', 'Colchester town, New London County, Connecticut',
                                                             'Lyme town, New London County, Connecticut','Old Lyme town, New London County, Connecticut']]

selected_2020 = town_population_2020.loc[2, ['Bridgewater town, Litchfield County, Connecticut', 'New Milford town, Litchfield County, Connecticut', 'Colchester town, New London County, Connecticut',
                                                             'Lyme town, New London County, Connecticut','Old Lyme town, New London County, Connecticut']]

selected_2017 = town_population_2017.loc[2, ['Bridgewater town, Litchfield County, Connecticut', 'New Milford town, Litchfield County, Connecticut', 'Colchester town, New London County, Connecticut',
                                                             'Lyme town, New London County, Connecticut','Old Lyme town, New London County, Connecticut']]
selected_2015 = town_population_2015.loc[2, ['Bridgewater town, Litchfield County, Connecticut', 'New Milford town, Litchfield County, Connecticut', 'Colchester town, New London County, Connecticut',
                                                             'Lyme town, New London County, Connecticut','Old Lyme town, New London County, Connecticut']]

In [37]:
df = pd.concat([selected_2021, selected_2020, selected_2017, selected_2015], axis=1)
df = df.transpose()
new_index = ['2021', '2020', '2017', '2015']
df = df.set_index(pd.Index(new_index))
df = df.apply(lambda x: pd.to_numeric(x.str.replace(',', ''), errors='coerce'))

df['Litchfield']=df['Bridgewater town, Litchfield County, Connecticut']+df['New Milford town, Litchfield County, Connecticut']
df['New London']=df['Colchester town, New London County, Connecticut']+df['Lyme town, New London County, Connecticut']+df['Old Lyme town, New London County, Connecticut']

In [38]:
# Move the index name to an individual column
df.reset_index(inplace=True)

# Rename the columns
df.columns = ['Year'] + list(df.columns[1:])

# Sort the DataFrame by the 'Year' column without flipping rows
df.sort_values(by='Year', inplace=True, ascending=False)  # Set ascending to True if you want to sort in ascending order

# Reset the index
df.reset_index(drop=True, inplace=True)
df

,Year,"Bridgewater town, Litchfield County, Connecticut","New Milford town, Litchfield County, Connecticut","Colchester town, New London County, Connecticut","Lyme town, New London County, Connecticut","Old Lyme town, New London County, Connecticut",Litchfield,New London
0,2021,1824,28074,15552,2430,7582,29898,25564
1,2020,1782,26893,15885,2425,7371,28675,25681
2,2017,1681,27380,16015,2423,7494,29061,25932
3,2015,1679,27670,16142,2454,7565,29349,26161

In [39]:
#including the number of other five towns
df_combined['Bridgeport-Stamford-Norwalk, CT Metro Area'] = df_combined['Bridgeport-Stamford-Norwalk, CT Metro Area']+df['Litchfield']
df_combined['Hartford-East Hartford-Middletown, CT Metro Area'] = df_combined['Hartford-East Hartford-Middletown, CT Metro Area']+df['New London']

In [40]:
df_combined_five = df_combined

In [43]:
df_combined_five.to_csv('../../../data/tidy/population-MSA-five-towns.csv')

In [44]:
df_combined_five

,Year,Connecticut,"Bridgeport-Stamford-Norwalk, CT Metro Area","Hartford-East Hartford-Middletown, CT Metro Area","New Haven-Milford, CT Metro Area"
0,2021,3605330,986344,1238888,864751
1,2020,3570549,972981,1231523,855733
2,2017,3594478,976389,1239055,862127
3,2015,3593222,969332,1240217,862224