In [1]:
import pandas as pd
import numpy as np
import os
import string
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.ticker import ScalarFormatter
from matplotlib.ticker import StrMethodFormatter
os.getcwd()
os.chdir('C:/Users/peiyaozhao/Documents/GitHub/tracking-msa-ghg/bin/jupyter')

In [2]:
residence = pd.read_csv('C:/Users/peiyaozhao/Documents/GitHub/tracking-msa-ghg/data/raw/residence_clean.txt', delimiter = "\t")

In [3]:
residence

        Status,Score,Match_type,Match_Street, March_Town, March_State, March_post,Addr_type,VEHICLE_YEAR,VIN,MAKE,MODEL,VEHICLE_TYPE,FUEL_TYPE,PLATE_CLASS,REGISTRATION_STATUS,DOMICILE_TOWN,DOMICILE_ZIP,DOMICILE_STATE,VEHICLE_OWNERSHIP_ID,RESIDENTIAL_CITY,RESIDENTIAL_ZIP,RESIDENTIAL_STATE,STATEFP10,COUNTYFP10,TRACTCE10,BLOCKCE10,GEOID10,NAME10
0        M,100.00,A,39 Stony Brook, STAMFORD, CT, 06902...
1        M,89.04,A,163 MacGregor, STAMFORD, CT, 06902,S...
2        M,89.04,A,525 Westover, STAMFORD, CT, 06902,St...
3        M,89.04,A,3 Alfred, STAMFORD, CT, 06902,Street...
4        M,89.04,A,1021 Westover, STAMFORD, CT, 06902,S...
...                                                    ...
3062970  U,.00,A,,,1999,2GTEK19V2X1566373,GMC,Sierra K1...
3062971  U,.00,A,,,2005,YV1CM592251153901,Volvo,XC90,Pa...
3062972  U,.00,A,,,1999,3B7KF2368XG191188,Dodge,RAM 250...
3062973  U,.00,A,,,2002,1GCCS145028233710,Chevrolet,S10...
3062974  U,.00,A,,,1998,1HD1CHP10WY213998,Harley-davids...

[3062975 rows x 1 columns]

In [4]:
residence.columns

Index(['Status,Score,Match_type,Match_Street, March_Town, March_State, March_post,Addr_type,VEHICLE_YEAR,VIN,MAKE,MODEL,VEHICLE_TYPE,FUEL_TYPE,PLATE_CLASS,REGISTRATION_STATUS,DOMICILE_TOWN,DOMICILE_ZIP,DOMICILE_STATE,VEHICLE_OWNERSHIP_ID,RESIDENTIAL_CITY,RESIDENTIAL_ZIP,RESIDENTIAL_STATE,STATEFP10,COUNTYFP10,TRACTCE10,BLOCKCE10,GEOID10,NAME10'], dtype='object')

In [ ]:
# Define the column names for the new columns
new_columns = ['Status', 'Score', 'Match_type', 'Match_Street', 'March_Town', 'March_State', 'March_post', 'Addr_type', 'VEHICLE_YEAR', 'VIN', 'MAKE', 'MODEL', 'VEHICLE_TYPE', 'FUEL_TYPE', 'PLATE_CLASS', 'REGISTRATION_STATUS', 'DOMICILE_TOWN', 'DOMICILE_ZIP', 'DOMICILE_STATE', 'VEHICLE_OWNERSHIP_ID', 'RESIDENTIAL_CITY', 'RESIDENTIAL_ZIP', 'RESIDENTIAL_STATE', 'STATEFP10', 'COUNTYFP10', 'TRACTCE10', 'BLOCKCE10', 'GEOID10', 'NAME10','n']

# Split the 'Status,Score,Match_type,...' column and assign it to new columns
residence[new_columns] = residence['Status,Score,Match_type,Match_Street, March_Town, March_State, March_post,Addr_type,VEHICLE_YEAR,VIN,MAKE,MODEL,VEHICLE_TYPE,FUEL_TYPE,PLATE_CLASS,REGISTRATION_STATUS,DOMICILE_TOWN,DOMICILE_ZIP,DOMICILE_STATE,VEHICLE_OWNERSHIP_ID,RESIDENTIAL_CITY,RESIDENTIAL_ZIP,RESIDENTIAL_STATE,STATEFP10,COUNTYFP10,TRACTCE10,BLOCKCE10,GEOID10,NAME10'].str.split(',', expand=True)

In [ ]:
names =residence.columns

In [ ]:
names

In [ ]:
# Save the DataFrame to a new file if needed
domicile.to_csv('C:/Users/peiyaozhao/Documents/GitHub/tracking-msa-ghg/data/raw/residence-new.csv', index=False)

In [ ]:
# missing data in the end