In [9]:
import pandas as pd
import numpy as np
import os
import string
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.ticker import ScalarFormatter
from matplotlib.ticker import StrMethodFormatter

In [10]:
residence = pd.read_csv('../../../data/raw/residence_clean.txt', delimiter = "\t")

In [11]:
residence

        Status,Score,Match_type,Match_Street, March_Town, March_State, March_post,Addr_type,VEHICLE_YEAR,VIN,MAKE,MODEL,VEHICLE_TYPE,FUEL_TYPE,PLATE_CLASS,REGISTRATION_STATUS,DOMICILE_TOWN,DOMICILE_ZIP,DOMICILE_STATE,VEHICLE_OWNERSHIP_ID,RESIDENTIAL_CITY,RESIDENTIAL_ZIP,RESIDENTIAL_STATE,STATEFP10,COUNTYFP10,TRACTCE10,BLOCKCE10,GEOID10,NAME10
0        M,100.00,A,39 Stony Brook, STAMFORD, CT, 06902...
1        M,89.04,A,163 MacGregor, STAMFORD, CT, 06902,S...
2        M,89.04,A,525 Westover, STAMFORD, CT, 06902,St...
3        M,89.04,A,3 Alfred, STAMFORD, CT, 06902,Street...
4        M,89.04,A,1021 Westover, STAMFORD, CT, 06902,S...
...                                                    ...
3062970  U,.00,A,,,1999,2GTEK19V2X1566373,GMC,Sierra K1...
3062971  U,.00,A,,,2005,YV1CM592251153901,Volvo,XC90,Pa...
3062972  U,.00,A,,,1999,3B7KF2368XG191188,Dodge,RAM 250...
3062973  U,.00,A,,,2002,1GCCS145028233710,Chevrolet,S10...
3062974  U,.00,A,,,1998,1HD1CHP10WY213998,Harley-davids...

[3062975 rows x 1 columns]

In [12]:
residence.columns

Index(['Status,Score,Match_type,Match_Street, March_Town, March_State, March_post,Addr_type,VEHICLE_YEAR,VIN,MAKE,MODEL,VEHICLE_TYPE,FUEL_TYPE,PLATE_CLASS,REGISTRATION_STATUS,DOMICILE_TOWN,DOMICILE_ZIP,DOMICILE_STATE,VEHICLE_OWNERSHIP_ID,RESIDENTIAL_CITY,RESIDENTIAL_ZIP,RESIDENTIAL_STATE,STATEFP10,COUNTYFP10,TRACTCE10,BLOCKCE10,GEOID10,NAME10'], dtype='object')

In [21]:
# Define the column names for the new columns
new_columns = ['Status', 'Score', 'Match_type', 'Match_Street', 'March_Town', 'March_State', 'March_post', 'Addr_type', 'VEHICLE_YEAR', 'VIN', 'MAKE', 'MODEL', 'VEHICLE_TYPE', 'FUEL_TYPE', 'PLATE_CLASS', 'REGISTRATION_STATUS', 'DOMICILE_TOWN', 'DOMICILE_ZIP', 'DOMICILE_STATE', 'VEHICLE_OWNERSHIP_ID', 'RESIDENTIAL_CITY', 'RESIDENTIAL_ZIP', 'RESIDENTIAL_STATE', 'STATEFP10', 'COUNTYFP10', 'TRACTCE10', 'BLOCKCE10', 'GEOID10', 'NAME10','n']

# Split the values in the specified column and assign them to new columns
residence[new_columns] = residence['Status,Score,Match_type,Match_Street, March_Town, March_State, March_post,Addr_type,VEHICLE_YEAR,VIN,MAKE,MODEL,VEHICLE_TYPE,FUEL_TYPE,PLATE_CLASS,REGISTRATION_STATUS,DOMICILE_TOWN,DOMICILE_ZIP,DOMICILE_STATE,VEHICLE_OWNERSHIP_ID,RESIDENTIAL_CITY,RESIDENTIAL_ZIP,RESIDENTIAL_STATE,STATEFP10,COUNTYFP10,TRACTCE10,BLOCKCE10,GEOID10,NAME10'].str.split(',', expand=True)

# Drop the original column
residence.drop('Status,Score,Match_type,Match_Street, March_Town, March_State, March_post,Addr_type,VEHICLE_YEAR,VIN,MAKE,MODEL,VEHICLE_TYPE,FUEL_TYPE,PLATE_CLASS,REGISTRATION_STATUS,DOMICILE_TOWN,DOMICILE_ZIP,DOMICILE_STATE,VEHICLE_OWNERSHIP_ID,RESIDENTIAL_CITY,RESIDENTIAL_ZIP,RESIDENTIAL_STATE,STATEFP10,COUNTYFP10,TRACTCE10,BLOCKCE10,GEOID10,NAME10', axis=1, inplace=True)

In [26]:
residence.to_csv('../../../data/tidy/vehicle-distribution-type-cleaned.csv')
residence

,Status,Score,Match_type,Match_Street,March_Town,March_State,March_post,Addr_type,VEHICLE_YEAR,VIN,...,RESIDENTIAL_CITY,RESIDENTIAL_ZIP,RESIDENTIAL_STATE,STATEFP10,COUNTYFP10,TRACTCE10,BLOCKCE10,GEOID10,NAME10,n
0,M,100.00,A,39 Stony Brook,STAMFORD,CT,06902,StreetAddress,2006,1GBJC34D96E194232,...,STAMFORD,069021523,CT,09,001,020500,3005,090010205003005,Block 3005,None
1,M,89.04,A,163 MacGregor,STAMFORD,CT,06902,StreetAddress,2003,SAJTA51F13XD07350,...,STAMFORD,069021409,CT,09,001,020500,3005,090010205003005,Block 3005,None
2,M,89.04,A,525 Westover,STAMFORD,CT,06902,StreetAddress,2002,WVWPD63BX2P433290,...,STAMFORD,069021314,CT,09,001,020500,3005,090010205003005,Block 3005,None
3,M,89.04,A,3 Alfred,STAMFORD,CT,06902,StreetAddress,2014,JTHCF1D23E5006252,...,STAMFORD,069021238,CT,09,001,020500,3005,090010205003005,Block 3005,None
4,M,89.04,A,1021 Westover,STAMFORD,CT,06902,StreetAddress,2000,JT3HN87R9Y0282212,...,STAMFORD,069021032,CT,09,001,020500,3005,090010205003005,Block 3005,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3062970,U,.00,A,,,1999,2GTEK19V2X1566373,GMC,Sierra K1500,Truck,...,,,,,,,None,None,None,None
3062971,U,.00,A,,,2005,YV1CM592251153901,Volvo,XC90,Passenger,...,,,,,,,None,None,None,None
3062972,U,.00,A,,,1999,3B7KF2368XG191188,Dodge,RAM 2500 Quad,Truck,...,,,,,,,None,None,None,None
3062973,U,.00,A,,,2002,1GCCS145028233710,Chevrolet,S10,Truck,...,,,,,,,None,None,None,None
3062974,U,.00,A,,,1998,1HD1CHP10WY213998,Harley-davidson,Xl1200s,Motorcycle,...,,,,,,,None,None,None,None